<body>

    <h1 class="text-center"> Pokemons </h1>

    <div  class="pokedex-container">

        <% @pokedex.each do |pokemon| %>
            <div class="pokemon-card">
                <h2> <%= pokemon[:name] %> </h2>   
                <p> <%= pokemon[:height] %> </p>
                <p> <%= pokemon[:weight] %> </p>
                <p> <%= pokemon[:types] %> </p>
                <img src=<%= pokemon[:sprites] %> >
            </div>
        <% end %>        
    </div>
</body>
