<div class="pokedex-header">
    <h1 class="ph_title">Pokédex</h1>
    <p>Welcome to the Pokédex! Here you can find a list of Pokémon.</p>
    
    <!-- Barra de pesquisa -->
    <form method="get" action="<%= pokedex_index_path %>">
        <input type="text" name="query" placeholder="Search Pokémon" value="<%= params[:query] %>">
    </form>
</div>

<div class="pokedex-container">
    <% @pokedex.each do |pokemon| %>
        <div class="pokemon-card">
            <div class="pokemon-card-inner">
                <!-- Frente da carta -->
                <div class="pokemon-card-front">
                    <h2><%= pokemon[:name] %></h2>
                    <img src="<%= pokemon[:sprites] %>" alt="<%= pokemon[:name] %>">
                </div>
                <!-- Verso da carta -->
                <div class="pokemon-card-back">
                    <h3>Types</h3>
                    <ul>
                        <% if pokemon[:types].present? %>
                            <% pokemon[:types].each do |type| %>
                                <li><%= type %></li>
                            <% end %>
                        <% else %>
                            <li>Without types</li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    <% end %>
</div>
