<h1><%= @pokemon[:name] %></h1>
<p>Height: <%= @pokemon[:height] %></p>
<p>Weight: <%= @pokemon[:weight] %></p>
<p>Types: <%= @pokemon[:types] %></p>
<img src="<%= @pokemon[:sprites] %>" alt="<%= @pokemon[:name] %>">
<img src="<%= @pokemon[:sprites_shiny] %>" alt="<%= @pokemon[:name] %> (Shiny)">